[submodule "plugins/MultipleLocalAuth"]
	path = plugins/MultipleLocalAuth
	url = https://github.com/mapasculturais/plugin-MultipleLocalAuth
[submodule "plugins/AdminLoginAsUser"]
	path = plugins/AdminLoginAsUser
	url = https://github.com/mapasculturais/plugin-AdminLoginAsUser.git
[submodule "plugins/MapasBlame"]
	path = plugins/MapasBlame
	url = https://github.com/mapasculturais/plugin-MapasBlame.git
[submodule "plugins/Analytics"]
	path = plugins/Analytics
	url = https://github.com/mapasculturais/plugin-Analytics.git
[submodule "plugins/SpamDetector"]
	path = plugins/SpamDetector
	url = https://github.com/mapasculturais/plugin-SpamDetector.git
[submodule "plugins/LocationPatch"]
	path = plugins/LocationPatch
	url = https://github.com/mapasculturais/plugin-LocationPatch.git
[submodule "themes/SOM"]
	path = themes/SOM
	url = https://github.com/florestaativista/theme-SOM.git
