@font-face {
    font-display: swap;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/custom-fonts/SpaceGrotesk-Regular.ttf') format('ttf'),
         url('/assets/custom-fonts/SpaceGrotesk-Regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Degular Display';
    font-style: normal;
    font-weight: bold;
    src: url('/assets/custom-fonts/Degular Display Black.otf') format('otf'),
         url('/assets/custom-fonts/Degular Display Black.otf')format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-Semibold-webfont.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url('/assets/fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: url('/assets/fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-Bold-webfont.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    src: url('/assets/fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype');
}