@use 'sass:color';

// COLORS
$black: #1E1E1E;
$error: #FF2D2D;
$gray-100: #F5F5F5;
$gray-300: #C4C4C4;
$gray-700: #4E4E4E;
$warning: #F07B07;
$white: #FFFFFF;

// Default lightness deltas
$lightness-300: 25%;
$lightness-700: 25%;

// Brand colors
$primary-500: #0077B2;
$secondary-500: #CE3683;

// Entities colors
$opportunities-500: #CE3683;
$events-500: #0077B2;
$agents-500: #9756D8;
$projects-500: #EF7B45;
$spaces-500: #498200;

$seals-500: #1E1E1E;

// Feedback colors
$danger-500: #EF1010;
$success-500: #498200;
$warning-500: #FF9F1C;
$helper-500: #0074C1;

// home
$home-opportunities: #FFA4A3;
$home-feature: #75C8FF;
$home-register: #002842;

// // Neutral colors
// $low-500: #1E1E1E;
// $high-500: #FFFFFF;

// // FONTS
// $font-body: 'Open Sans', sans-serif;
// $font-headings: 'Open Sans', sans-serif;

// // Borders radius
// $border-radius-xs: 4px;
// $border-radius-sm: 8px;
// $border-radius-pill: 64px;

// // Borders
// $border-hairline: 1px solid;
// $border-solid: 2px solid;

// // Shadows
// $shadow-lv-1: 0px 4px 8px rgba(0, 0, 0, 0.16);
// $shadow-lv-2: 0px 8px 16px rgba(0, 0, 0, 0.16);
// $shadow-lv-3: 0px 8px 24px rgba(0, 0, 0, 0.16);
// $shadow-lv-4: 0px 16px 48px rgba(0, 0, 0, 0.16);
// $shadow-lv-1-up: 0px -4px 8px rgba(0, 0, 0, 0.16);

@import '../../../BaseV2/assets-src/sass/theme-BaseV2';
@import '0.settings/typography';


.main-header{
    .mc-header-logo{
        max-width: 9.5rem;
        margin-left: 2rem; 
    }
    .mc-header-menu{
        li{
            a{
                text-transform: uppercase;
                .label{
                    border: 1px solid #000;
                    padding: 1px;
                    background-color: #fff;
                    font-family: 'Degular Display';
                }
            }  
        }
    }
    .main-header__buttons{
        margin-right: 3rem;
    }
}
/* Esconde div  destaques */
div.home-feature {
    display: none;
}

.home-header{
    .home-header__content{
        &::before{
            background: 0;
        }
        .home-header__main{
            max-width: 22rem;

            .home-header__title{
                text-transform: uppercase;
                color: #FF5FDB;
                font-family: 'Degular Display';
            }
            .home-header__description{
                font-family: 'Space Grotesk';    
            }
        }
    }    
}

.home-opportunities{
    background-color: #FF5FDB;
    .title{
        text-transform: uppercase;
        font-family: 'Degular Display';
    }
    .description{
        font-weight: bold;
        font-family: 'Space Grotesk';
    }
}

.home-entities{
    .home-entities__content{
        .home-entities__content--header{
            .title{
                text-transform: uppercase;
                font-family: 'Degular Display';
            }
            .description{
                font-weight: bold;
                font-family: 'Space Grotesk';

            }
        }
        .home-entities__content--cards{
            .card{
                border: 1px solid #000;
                .card__left--content{
                    .card__left--content-icon{
                        background-color: #fff;
                        svg{
                            color:#000;
                        }
                    }
                    .title{
                        display: none;
                    }    
                }
                .card__right{
                    p{
                        font-family: 'Space Grotesk';  
                    }
                }
                .button--icon.button--sm{
                    color: #000;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-family: 'Degular Display';
                }    
            }
        }
    }
}

.home-register{
    border-top: solid 3px #000;

    .home-register__background{
        .home-register__background--img{
            background-image: none;
        }
        .home-register__background--mask{
            background-color: #d5fffd;
            mix-blend-mode: initial;
        }
    }
    .home-register__content{
        color: #000;
        text-align: center;
        display: flex;
        flex-direction: column;
        img{
            margin-left: auto;
            margin-right: auto;
            max-width: 386px;
            width: 100%;
            margin-bottom: 3rem;
        }
        .home-register__content--title{
            text-transform: uppercase;
            font-family: 'Degular Display';
        }
        .home-register__content--description{
            font-weight: bold;
            font-family: 'Space Grotesk';  
        }
        a{
            justify-content: center;
            max-width: 16rem;
            border-radius: 50px;
            margin-left: auto;
            margin-right: auto;
            padding: 3px;
            color: #000;
            text-transform: uppercase;
            border: 2px solid #000;
            margin-top: 20px;
            font-family: 'Degular Display';
            svg{
                font-size: 1.3rem;
            }
        }
    }
}

.home-map{
    margin-top: -80px;
    border-top: 3px solid #000;
    .home-map__header{
        .title{
            text-transform: uppercase;
            font-family: 'Degular Display';
        }
        .description{
            font-weight: bold;
            font-family: 'Space Grotesk';  

        }    
    }
}

.home-developers{
    background-color: #c8ffe0;
    .home-developers__content{
        .dev-icon{
            height: 60px;
            width: 60px;
            svg{
                display: none;
            }
        }
        .home-developers__content--title{
            text-transform: uppercase;
            font-family: 'Degular Display';

        }
        .home-developers__content--description{
            font-weight: bold;
            font-family: 'Space Grotesk';  

        }
        .home-developers__content--link{
            display: none;
        }
    }
}

.main-footer{
    .main-footer__content{
        .main-footer__content--links{
            ul{
                :first-child{
                    color: #000;
                    text-transform: uppercase;
                    font-family: 'Degular Display';

                }
            }
        }
    }
}

.lgpd-document {
    border-bottom: 1px solid $black;
    margin-bottom: 1em;
    

    h2 {
        margin-bottom: 0.8em;
        text-align: center;
    }

    &:last-of-type {
        border-bottom:0;
    }
}

.lgpd-date {
    margin-bottom: 1em;
    font-weight: bold;
    font-style: italic;

    text-align: center;
}

.lgpd-creditos {
    font-weight: bold;
}