@use 'sass:color';

// COLORS
$black: #1E1E1E;
$error: #FF2D2D;
$gray-100: #F5F5F5;
$gray-300: #C4C4C4;
$gray-700: #4E4E4E;
$warning: #F07B07;
$white: #FFFFFF;

// Default lightness deltas
$lightness-300: 25%;
$lightness-700: 25%;

// Brand colors
$primary-500: #0077B2;
$secondary-500: #CE3683;

// Entities colors
$opportunities-500: #CE3683;
$events-500: #0077B2;
$agents-500: #9756D8;
$projects-500: #EF7B45;
$spaces-500: #498200;

$seals-500: #1E1E1E;

// Feedback colors
$danger-500: #EF1010;
$success-500: #498200;
$warning-500: #FF9F1C;
$helper-500: #0074C1;

// home
$home-opportunities: #FFA4A3;
$home-feature: #75C8FF;
$home-register: #002842;

// // Neutral colors
// $low-500: #1E1E1E;
// $high-500: #FFFFFF;

// // FONTS
// $font-body: 'Open Sans', sans-serif;
// $font-headings: 'Open Sans', sans-serif;

// // Borders radius
// $border-radius-xs: 4px;
// $border-radius-sm: 8px;
// $border-radius-pill: 64px;

// // Borders
// $border-hairline: 1px solid;
// $border-solid: 2px solid;

// // Shadows
// $shadow-lv-1: 0px 4px 8px rgba(0, 0, 0, 0.16);
// $shadow-lv-2: 0px 8px 16px rgba(0, 0, 0, 0.16);
// $shadow-lv-3: 0px 8px 24px rgba(0, 0, 0, 0.16);
// $shadow-lv-4: 0px 16px 48px rgba(0, 0, 0, 0.16);
// $shadow-lv-1-up: 0px -4px 8px rgba(0, 0, 0, 0.16);

@import '../../../BaseV2/assets-src/sass/theme-BaseV2';

.main-header{
    .mc-header-menu{
        li{
            a{
                .label{
                    border: 1px solid #000;
                    padding: 1px;    
                }
            }  
        }
    }
}

.home-opportunities__header, .home-opportunities__content {
    display: none;
}

.home-entities{
    .home-entities__content{
        .home-entities__content--cards{
            .card{
                border: 1px solid #000;    
            }
        }
    }
}


.lgpd-document {
    border-bottom: 1px solid $black;
    margin-bottom: 1em;
    

    h2 {
        margin-bottom: 0.8em;
        text-align: center;
    }

    &:last-of-type {
        border-bottom:0;
    }
}

.lgpd-date {
    margin-bottom: 1em;
    font-weight: bold;
    font-style: italic;

    text-align: center;
}

.lgpd-creditos {
    font-weight: bold;
}